<script src="@Url.Content("~/js/UI/Dialogs/OcrProgressDialog.js")" type="text/javascript"></script>
<div class="modal" id="ocrProgressDialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">OCR progress</h5>
            </div>
            <div class="modal-body">
                <div class="progress" id="ocrProgressBar">
                    <div class="progress-bar progress-bar-info" role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100">
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" data-bs-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>