<script src="@Url.Content("~/js/UI/Dialogs/OcrResultDownloadDialog.js")" type="text/javascript"></script>
<div class="modal" id="ocrResultDownloadDialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">OCR result download</h5>
            </div>
            <div class="modal-body">
                <a localizationId="downloadResultLink" id="downloadResultOfRecognition" href="" target="_blank" download>Download results of recognition</a>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" data-bs-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>